# Ignore environment and system files
.env
.vscode/
node_modules/
.DS_Store
*.log
*.tmp
Thumbs.db
fastapi_env/
venv/
myenv/
checkpoints/
yagna/
golem/
.idea/
*.iml
*.pyc
__pycache__/
target/
out/
debug/
bin/
*.swp
*.bak
*.old
*~
*.temp
.cache/
*.lock
!README.md

